<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
<link type="text/css" rel="stylesheet" href="/css/notes.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>"
<object data="/uploads/notes/<%=locals.file_path%>" width="800" height="500"> </object>
<!-- iframe, embed, object -->
<button id="like_button"><i class="fa-solid fa-thumbs-up"></i></button>
<p id="number_of_likes"><%=locals.number_of_likes%></p>
<p id="number_of_views"><%=locals.number_of_views%></p>
<script src="/js/notes.js"></script>