<h1>signin page</h1>
<form action="/users/create_session" method="POST">
    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="Your password" required>
    <input type="submit" value="Signin">
</form>